<div class="container">
    <div class="container-title">
        <h3>Welcome to the bemibbs framework ！！！</h3>
    </div>
    <div class="container-body">
        <div class="box-body">
            <div class="box-body-title">
                <h4>一个基于PHP设计的轻量级框架</h4>
            </div>
            <div class="box-body-body">
                <img src="/static/img/cy.jpeg" alt="">
            </div>
            <div class="box-body-foot">
                <a href="http://www.bemiou.cn/" target="_blank">Official website</a> | <a href="http://bbs.bemiou.cn/" target="_blank">Forum</a> | <a href="http://blog.bemiou.cn/" target="_blank">Blog</a> | <a href="mailto:xfxyfs@163.com" target="_blank">Mailbox</a> | <a href="https://jq.qq.com/?_wv=1027&k=dXo1Hqj1" target="_blank">QQ group</a>
            </div>
        </div>
    </div>
    <div class="container-footer">
        Copyright &copy; 2021-{{php echo date('Y'); }} <a href="http://www.bemiou.cn/" target="_blank">Bemiou Studio</a>
    </div>
</div>